<div id="bg-image">
   <a href="#/"> <img class="home-logo" src="/images/logo.png"> </a>
  <form>
    <div class="size">
      <div class="candidates">
        <div class="freshers"> <button class="fresher-view button-view" type="button" ng-click="addNewJob()"><label>Add New Job</label></button> </div>
        <div class="professionals"> <button class="professional-view button-view" type="button" ng-click="candidates()"><label>Candidates Details</label></button> </div>
        <div class="update"> <button class="update-view button-view" type="button" ng-click="edit()"><label>Edit Job</label></button> </div>
        <div class="availableJobs"> <button class="jobs-view button-view" type="button" ng-click="jobs()"><label>Available Jobs</label></button> </div>
      </div>
    </div>
  </form>
</div>
</div>
