<div>
  <div>
    <a href="#/"> <img class="logo" src="/images/logo.png"> </a>
  </div>
  <form name="addingJob" method="post">
    <div class="login-container sign-login-container">
      <div>
        <a class="txt-coloring sign-up" href="#/login"> <label class="pointer">Login</label> </a>
        <a class="txt-coloring sign-up" href="#/admin"> <label class="pointer">Admin</label> </a>
        <div class="txt-coloring label"> <label>Candidates List</label> </div>
        <div> <input id="company" class="txtfield-size" type="text" name="company" ng-init="company = ''" ng-model="company" placeholder="Company" /> </div>
        <div class="login-notificationbox" id="company-result-popup">{{companyError}}</div>
        <div> <input id="password" class="txtfield-size" type="text" name="post" ng-init="post = ''" ng-model="post" placeholder="Post" /> </div>
        <div class="login-notificationbox " id="post-result-popup">{{postError}}</div>
        <div> <input class="button login-position" ng-click="validateCandidatesList()" type="submit" value="Find" /> </div>
      </div>
    </div>
  </form>
</div>