<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <div class="logo-container">
      <a href="/">
        <img class="logo" src="/images/logo.png">
      </a>
    </div>
    <form class="register-container" name="loginForm" method="post">
      <div class="sign-container sign-login-container">
        <div class="inner-div-length">
          <a class="txt-coloring sign-up" href="#/view-profile">
          <label class="pointer">Profile</label>
          </a>
          <div class="txt-coloring label">
            <label>Change Password</label>
          </div>
          <div class="div-positioning txtfield-frm-top">
            <span class="txt-coloring span-frm-top">Current Password</span>
            <input id="password" class="inputfield" type="password" name="password" ng-init="password= ''" ng-model="password"/>
            <div class="txtfield-notification notification-txt-position" id="current-notification">
              {{passwordInfo.passwordError}}
            </div>
          </div>
          <div class="div-positioning txtfield-frm-top">
            <span class="txt-coloring span-frm-top">New Password</span>
            <input id="password" class="inputfield" type="password" name="newPassword" ng-init="newPassword= ''" ng-model="newPassword"/>
            <div class="txtfield-notification notification-txt-position" id="new-notification">
              {{passwordInfo.newError}}
            </div>
          </div>
          <div class="div-positioning txtfield-frm-top">
            <span class="txt-coloring span-frm-top">Confirm Password</span>
            <input id="confirm-password" class="inputfield" type="password" name="confirmPassword" ng-init="confirmPassword= ''" ng-model="confirmPassword"/>
            <div class="txtfield-notification notification-txt-position" id="confirm-notification">
            {{passwordInfo.confirmError}}
            </div>
          </div>
          <div class="div-positioning txtfield-frm-top txtfield-frm-left">
          {{passwordInfo.successMsg}}
          </div>
          <div>
            <input class="button submit-position" type="submit" ng-click="changePassword()" value="Save"/>
          </div>
        </div>
      </div>
    </form>
