<div class="header">
<div class="clearfix">
  <div class="innerLogo">
    <a href="#/">
      <img src="/images/logo.png" alt="LOGO" height="100" width="250">
    </a>
  </div>
  <ul class="navigation">
    <li>
      <a ng-href="#/view-profile">Profile</a>
    </li>
    <li class="active">
      <a href="#/login">{{link}}</a>  
    </li>
  </ul>
</div>
</div>
<div class="contents">
<div class="clearfix">
  <h1>Available Jobs</h1>
  <div class="frame2">
    <div class="box">
      <img src="images/bg7.jpg" alt="Img" height="298" width="924">
    </div>
  </div>
    <div class="widthOfPost">
        <a class="color" ng-href="#/company/{{datas.id}}/{{link}}">
          <h2>{{datas.post}}</h2>
        </a>
      {{datas.company}}
  </div>
</div>
</div>
<div class="footer">
<div class="clearfix">
  <div class="section contact">
    <h4>Contact Us</h4>
    <p>
      <span>Address:</span> Qburst Technologies pvt.ltd
    </p>
    <p>
      <span>Phone:</span> (+91) 9744296904
    </p>
    <p>
      <span>Email:</span> krishnadev@qburst.com
    </p>
  </div>
</div>
</div>