<div>
  <div>
    <div>
      <a href="#/">
      <img class="home-logo" src="/images/logo.png"> 
      </a>
    </div>
  </div>
  <div class="title">
    <div class="heading">
      <label class="jobLabel">Find Your Jobs Here</label>
    </div>
    <form name="searchJob"  method="post">
      <div class="fields">
        <div  class="field-size">
          <input type="text" class="whatField" name="field1" ng-init="post = ''" ng-model="post"  placeholder="What?"/>
          <input type="text" class="whereField" name="field2" ng-init="company = ''" ng-model="company" value= "post"   placeholder="Where?"/>
          <input class="findJob findJob-position" type="submit" ng-click="search()" value="Find Job"/>
          <div class="div-positioning txtfield-frm-top txt-frm-left">
          {{successMsg}}
          </div>
        </div>
      </div>
    </form>  
  </div>
  <div class="size">
  <div class="candidates">
  <div class="freshers">
  <button class="login-view button-view" type="button" ng-click="login()"><label>Login</label></button>
  </div>
  <div class="professionals">
  <button class="signUp-view button-view" type="button" ng-click="signUp()"><label>Sign Up</label></button>
  </div>
  </div>
  </div>
</div>
</div>
