<div>
  <div>
    <a href="#/">
      <img class="logo" src="/images/logo.png">
    </a>
  </div>
  <form name="loginForm" method="post">
    <div class="login-container sign-login-container">
      <div>
        <a class="txt-coloring sign-up" href="#/login">
        <label class="pointer">Login</label>
        </a>
        <a class="txt-coloring home" href="#/">
        <label class="pointer">Home</label>
        </a>
        <div class="txt-coloring label">
          <label>Reset Password</label>
        </div>
       <div>
          <input id="password" class="txtfield-size" type="password" name="password" ng-init="password = ''" ng-model="password" placeholder="New Password"/>
        </div>
        <div class="login-notificationbox " id="passwd-result-popup">{{passwordError}}</div>
        <div class="div-position txtfieldTop txtfield-frm-left">
      {{successMsg}}
      </div>
        <div>
          <input class="button login-position" ng-click="resetPassword()" type="submit" value="Submit"/>
        </div>
      </div>
    </div>
  </form>
</div>
