<!DOCTYPE html>
<html>
  <head>
    <charset="UTF-8"> 
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="shortcut icon" type="image/png" href="images/logo.png">
    <script type="text/javascript" src="javascripts/index.js"></script>
    <title>Job Finder</title>
  </head>
  <body>
  <div id="bg-image">
    <div>
      <div>
        <img class="home-logo" src="images/logo.png">
      </div>
    </div>
     <div class="title" type="button">Find Your Jobs Here</div>
     <form>
     <div class="size">
     <div class="candidates">
     <div class="freshers">
     <button class="button-view" type="button" onclick="login()"><label>Login</label></button>
     </div>
     <div class="professionals">
     <button class="button-view" type="button" onclick="sign()"><label>Sign Up</label></button>
     </div>
     </div>
     </div>
     </form>
     </div>
   </div>
  </body>
</html>